alias python='python3'
alias pip='pip3'
alias lock='sh /usr/local/bin/i3lock-fancy/lock'
alias runcawr=' cd ~/code/vagrant/cawr && vagrant ssh'
alias vssh='vagrant ssh'
alias activate='if [[ ! -d .env ]]; then 
                    virtualenv .env -p python3
                fi
                source .env/bin/activate'
alias xxx='xdg-open'
alias vcd='cd $HOME/code/vagrant/ && cd $1'
alias findfile='find . -name $1'
alias gis='git status'

alias ..='cd ..'
alias ...='cd ../../'
alias ...='cd ../../'

# Docker aliases

alias dex='sudo docker exec -ti $1'
alias dlgs='sudo docker logs $1'
alias dins='sudo docker inspect $1'
alias dps='sudo docker ps -a'
alias dbi='sudo docker build -t  ${PWD##*/} .'
alias dcup='sudo docker-compose up -d'
alias dcdn='sudo docker-compose down'

alias saliases='source $HOME/.zshrc'

alias docmake='latexmk -pdf -pvc -xelatex -interaction=nonstopmode  ./main.tex -f &'
alias docclean='latexmk -c'

alias grep='grep --color=auto'
alias dog='lolcat'
alias soundrestore='alsactl restore'
